.register{
    align-items: center;
    height: 400px;
    width:400px;
    background: rgb(100, 100, 168);
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;;

}

label{
    display: block;
    margin-bottom: 10px;
}

form{
 position: relative;
 top:50px;
 align-items: center;
}

input{
    border-radius: 5px;
}

#submit, #register{
    background-color: rgb(61, 49, 133);
    color:white
}

h1{
    background-color: rgb(244, 245, 244);
}